@using NaNoEweb.DBConnection
@using NaNoEweb.Data
@{
    ViewData["Title"] = "Home";

    //if (LoadedNovels.NovelInstances.Count == 0) LoadedNovels.NovelInstances.Add(new() { ID = 1, Name = "Accidental Distances" }); // Sample
    LoadedNovels.NovelInstances.Clear();
    LoadedNovels.NovelInstances.AddRange(DB.I.Get<MNovelInstance>("").OrderBy(a => a.Title).ToList());
}
<div class="novel-history">
    <h3>Open Novel:</h3>
    <div class="row novel-actions">
        <div class="col-2"><div class="button" action-name="create-new-novel">New</div></div>
        <div class="col-8"></div>
        <div class="col-2"><div class="button" action-name="open-existing-novel">Open</div></div>
    </div>
    <div class="novel-list">
        @if (LoadedNovels.NovelInstances.Count > 0)
        {
            foreach (var novel in LoadedNovels.NovelInstances)
            {
                <div class="novel-listed row" data-id="@(novel.ID)">
                    <div class="col-8">@(novel.Title)</div>
                    <div class="col-4"><em>@(DB.I.GetNumbers((int)novel.ID)[4]) Words</em></div>
                </div>
            }
        }
        else
        {
            <div class="row">
                <div class="col=12">
                    <em>No Novels Here...</em>
                </div>
            </div>
        }
    </div>
    <!-- jquery UI sample -->
    <p>
        <button id="dialog-link" class="ui-button ui-corner-all ui-widget">
            <span class="ui-icon ui-icon-newwin"></span>Sample Delete (doesn't remove anything)
        </button>
    </p>
    <div tabindex="-1" role="dialog" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-dialog-buttons ui-draggable ui-resizable" aria-describedby="dialog" aria-labelledby="ui-id-18" style="position: absolute; height: auto; width: 400px; top: 1193.54px; left: 187.303px;">
        <div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix ui-draggable-handle"><span id="ui-id-18" class="ui-dialog-title">Dialog Title</span><button type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close"><span class="ui-button-icon ui-icon ui-icon-closethick"></span><span class="ui-button-icon-space"> </span>Close</button></div><div id="dialog" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 19.053px; max-height: none; height: auto;">
            <p>Are you sure you want to delete this item?</p>
        </div>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix"><div class="ui-dialog-buttonset"><button type="button" class="ui-button ui-corner-all ui-widget">Ok</button><button type="button" class="ui-button ui-corner-all ui-widget">Cancel</button></div></div><div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-ne" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-nw" style="z-index: 90;"></div>
    </div>
    <!-- end jquery UI sample -->
</div>