@{
    ViewData["Title"] = "Open Existing Novel";
}
<div class="novel-open-existing">
    <h3>Open Existing Novel</h3>
    <div class="row">
        <div class="col-2"><div class="button" action-name="novel-history">Back</div></div>
        <div class="col-10"></div>
    </div>
</div>