@import "../lib/jquery-ui/jquery-ui.css";
@import "../lib/jquery-ui/jquery-ui.structure.css";
@import "../lib/jquery-ui/jquery-ui.theme.css";
html {
  font-size: 14px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

nav a, nav a:hover, nav a:visited {
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: white;
  margin-inline: 8px;
}
nav a, nav a:visited {
  color: #000;
}
nav a:hover {
  color: #0067bb;
}
nav .navbar-brand {
  width: 100px;
  display: inline-flex;
  padding-left: 16px;
}
nav ul {
  list-style: none;
  display: inline-block;
}
nav ul li {
  display: inline-block;
}
nav ul li:hover {
  color: #FFF;
}

/* Buttons: action-name => jquery binder */
input[type=button],
.button {
  color: #EFEFEF;
  background-color: #555;
  text-align: center;
  padding: 4px 2px;
  margin: 2px;
  border-radius: 4px;
  min-width: 100px;
  border: 0;
}
input[type=button]:hover,
.button:hover {
  cursor: pointer;
  background-color: #0067bb;
}
input[type=button]:focus,
.button:focus {
  outline: 0;
}

/* items-list */
.notes {
  background: #FFF;
  border: 1px solid #b5b5b5;
  padding: 4px;
}

/* Layouts */
.row {
  display: inline-flex;
  padding: 2px;
  width: calc(100% - 10px);
  margin-bottom: 4px;
}
.row .col-1 {
  width: 8.33333%;
}
.row .col-2 {
  width: 16.66666%;
}
.row .col-3 {
  width: 26.99999%;
}
.row .col-4 {
  width: 33.33332%;
}
.row .col-5 {
  width: 41.66665%;
}
.row .col-6 {
  width: 49.99998%;
}
.row .col-7 {
  width: 58.33331%;
}
.row .col-8 {
  width: 66.66664%;
}
.row .col-9 {
  width: 74.99997%;
}
.row .col-10 {
  width: 83.3333%;
}
.row .col-11 {
  width: 91.66663%;
}
.row .col-12 {
  width: 99.99996%;
}
.row .col-1,
.row .col-2,
.row .col-3,
.row .col-4,
.row .col-5,
.row .col-6,
.row .col-7,
.row .col-8,
.row .col-9,
.row .col-10,
.row .col-11,
.row .col-12 {
  padding: 2px;
}

@media screen and (max-width: 600px) {
  .row {
    display: block;
  }
  .row .col-1,
.row .col-2,
.row .col-3,
.row .col-4,
.row .col-5,
.row .col-6,
.row .col-7,
.row .col-8,
.row .col-9,
.row .col-10,
.row .col-11,
.row .col-12 {
    width: 100%;
  }
}
/* middle column */
.novel-history,
.novel-create-new,
.novel-open-existing,
.area-writing,
.area-editing,
.area-publish {
  width: 800px;
  margin-inline: auto;
}

@media screen and (max-width: 800px) {
  .novel-history,
.novel-create-new,
.novel-open-existing {
    width: calc(100% - 8px);
  }
}
.error {
  color: orangered;
  font-style: italic;
  font-size: 12px;
  text-align: center;
}

.success {
  color: #0067bb;
  font-style: italic;
  font-size: 12px;
  text-align: center;
}

div {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
div::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}
div::-webkit-scrollbar-thumb {
  background: #9F9F9F;
  border-radius: 5px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #0067bb;
}

/* new  /  open/import */
.novel-actions {
  margin-bottom: 12px;
}

/* home page */
.novel-history {
  margin-inline: auto;
  border-left: 1px solid #EFEFEF;
  border-right: 1px solid #EFEFEF;
}
.novel-history .line {
  border-bottom: 1px dotted #EFEFEF;
}
.novel-history .line:first-of-type {
  border-top: 1px solid #EFEFEF;
}
.novel-history .line:last-of-type {
  border-bottom: 1px solid #EFEFEF;
}

.area-history {
  width: 600px;
  margin-inline: auto;
}
.area-history .row {
  padding: 0px 8px;
}

/* new novel */
/* general */
.novel-title {
  height: 100%;
  text-align: center;
  margin-inline: 50px;
  padding-top: 8px;
  font-weight: 800;
  color: #0067bb;
}

/* open existing novel */
.novel-listed {
  margin: 1px;
  padding: 3px;
  border: 1px solid #EFEFEF;
}
.novel-listed:hover {
  background-color: #0067bb;
  color: #FFF;
  cursor: pointer;
}

/* forms */
#frmNewNovel .row {
  padding-block: 3px;
}
#frmNewNovel #name {
  width: 480px;
}

/* History */
.novel-history-data {
  overflow: hidden;
}
.novel-history-data strong {
  color: #0067bb;
}
.novel-history-data .date-line {
  border-bottom: 1px solid #b5b5b5;
}
.novel-history-data .effort-line .col-2 {
  border: 1px dotted #9eaedb;
  font-size: 11px;
  text-align: center;
}
.novel-history-data .effort-line .col-2:first-of-type {
  color: #9eaedb;
}

/* Writing area */
body:has(.area-writing) {
  background-color: #F9F9F9;
}

.area-writing {
  height: 650px;
  background-color: #FFF;
  overflow: hidden;
}
.area-writing .note {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 216px;
  padding: 2px;
  color: #CCC;
  margin-left: 4px;
}
.area-writing .note strong {
  color: #00308F;
}
.area-writing .action {
  margin-top: 2px;
  margin-inline: 4px;
  color: #FFF;
  width: 68px;
  text-align: center;
  padding: 4px 10px 4px 10px;
  background-color: #555;
}
.area-writing .action:hover {
  background-color: #0067bb;
  cursor: pointer;
}
.area-writing .disabled {
  background-color: #CCC;
}
.area-writing .disabled:hover {
  background-color: #CCC;
  cursor: not-allowed;
}
.area-writing input[type=checkbox i] {
  margin: 0px;
}
.area-writing .novel-above .row,
.area-writing .novel-below .row,
.area-writing .novel-writing .row {
  background-color: #FFF;
}
.area-writing .novel-above .row .col-10,
.area-writing .novel-below .row .col-10,
.area-writing .novel-writing .row .col-10 {
  /*                padding: 4px;
  margin: 4px;*/
}
.area-writing .novel-above .paragraph,
.area-writing .novel-below .paragraph,
.area-writing .novel-writing .paragraph {
  width: 600px;
  margin-inline: auto;
  border-top: 1px solid #EFEFEF;
}
.area-writing .novel-above .paragraph em,
.area-writing .novel-below .paragraph em,
.area-writing .novel-writing .paragraph em {
  color: #CCC;
}
.area-writing .novel-above {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: calc(50% - 75px);
}
.area-writing .novel-above .paragraph {
  display: none;
}
.area-writing .novel-above .paragraph:nth-of-type(1n) {
  display: block;
}
.area-writing .novel-writing {
  background-color: #FFF;
  height: 150px;
}
.area-writing .novel-below {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: calc(50% - 90px);
}
.area-writing .novel-below .paragraph:nth-of-type(1n + 5) {
  display: none;
}
.area-writing .novel-below .col-2,
.area-writing .novel-above .col-2 {
  display: none;
}
.area-writing .novel-above .paragraph:last-of-type .col-2 {
  display: block;
}
.area-writing .novel-writing .writing-area {
  width: 600px;
  margin-inline: auto;
  padding: 8px;
  margin-top: 12px;
}
.area-writing .writing-box {
  width: 95%;
  min-height: 100%;
  max-height: 100%;
  margin: 2px;
  resize: none;
  border: 1px solid #CCC;
  padding: 4px;
  border-radius: 5px;
}
.area-writing .writing-box:focus {
  outline: none !important;
  border: 1px solid #0067bb;
}
.area-writing .totals {
  position: absolute;
  left: 16px;
  color: #0067bb;
  width: 200px;
  text-align: end;
  background-color: #FFF;
  border: 1px solid #b5b5b5;
  padding: 8px;
}
.area-writing .totals strong {
  color: #555;
  min-width: 300px;
  margin-right: 8px;
}
.area-writing .notes {
  position: absolute;
  right: 16px;
  color: #0067bb;
  width: 250px;
  text-align: start;
}
.area-writing .notes .act-notes, .area-writing .notes .act-chapters {
  display: inline-flex;
  margin-inline: 10px;
  cursor: pointer;
  padding: 3px 6px;
  margin: 4px 12px;
  border-radius: 15px;
}
.area-writing .notes .act-notes.selected, .area-writing .notes .act-chapters.selected {
  background-color: #0067bb;
  color: #FFF;
}
.area-writing .notes .show-items {
  text-align: center;
}
.area-writing .notes .new-item {
  background-color: #0067bb;
  margin-left: 110px;
  width: 16px;
  color: #FFF;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 50px;
  cursor: pointer;
}
.area-writing .notes .notes-items, .area-writing .notes .chapter-items {
  margin-top: 16px;
  margin-bottom: 16px;
  height: 100px;
}
.area-writing .notes .notes-items ul, .area-writing .notes .chapter-items ul {
  list-style: none;
  height: 100px;
  border: 1px dotted #b5b5b5;
}
.area-writing .notes .notes-items ul li:hover, .area-writing .notes .chapter-items ul li:hover {
  background-color: #0067bb;
  color: #FFF;
  cursor: pointer;
}

.paragraph.para-chapter .col-10 {
  font-weight: 800;
  font-size: 16px;
  color: #0067bb;
}
.paragraph.para-note .col-10 {
  font-weight: 200;
  font-size: 12px;
  color: #b5b5b5;
}
.paragraph.para-bookmark .col-10 {
  font-weight: 600;
  font-size: 14px;
  color: #0067bb;
}
.paragraph .col-2 {
  position: relative;
}
.paragraph .col-2 .action {
  position: absolute;
  bottom: 0;
}

.new-note-box,
.new-chapter-box {
  margin: 2px;
  padding: 4px;
  border: 1px dotted #b5b5b5;
}

.items-view {
  border: 1px dotted #b5b5b5;
}
.items-view .chapter-note span {
  font-size: 14px;
  color: #b5b5b5;
  padding: 4px;
}
.items-view .chapter-note span:hover {
  color: #FF0000;
  cursor: pointer;
}
.items-view .add-chapter-note {
  width: 14px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #b5b5b5;
  margin-inline: auto;
}
.items-view .add-chapter-note:hover {
  color: #fff;
  background-color: #0067bb;
  border: 1px solid #FFF;
  cursor: pointer;
}
.items-view .chapter-items-list {
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  border: 1px solid #EFEFEF;
}

.delete-note-text {
  border: 1px dotted #b5b5b5;
  padding: 8px;
}

@media screen and (max-width: 1062px) {
  .totals {
    display: none;
  }
}
ul {
  padding-inline-start: 0px;
}
ul li {
  padding: 2px;
}

/* TODO: 1280px wide styles*/
/* Afterwards includes */
@font-face {
  font-family: "Linearicons-Free";
  src: url("/font/Linearicons-Free.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.lnr {
  font-family: "Linearicons-Free";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lnr-home:before {
  content: "\e800";
}

.lnr-apartment:before {
  content: "\e801";
}

.lnr-pencil:before {
  content: "\e802";
}

.lnr-magic-wand:before {
  content: "\e803";
}

.lnr-drop:before {
  content: "\e804";
}

.lnr-lighter:before {
  content: "\e805";
}

.lnr-poop:before {
  content: "\e806";
}

.lnr-sun:before {
  content: "\e807";
}

.lnr-moon:before {
  content: "\e808";
}

.lnr-cloud:before {
  content: "\e809";
}

.lnr-cloud-upload:before {
  content: "\e80a";
}

.lnr-cloud-download:before {
  content: "\e80b";
}

.lnr-cloud-sync:before {
  content: "\e80c";
}

.lnr-cloud-check:before {
  content: "\e80d";
}

.lnr-database:before {
  content: "\e80e";
}

.lnr-lock:before {
  content: "\e80f";
}

.lnr-cog:before {
  content: "\e810";
}

.lnr-trash:before {
  content: "\e811";
}

.lnr-dice:before {
  content: "\e812";
}

.lnr-heart:before {
  content: "\e813";
}

.lnr-star:before {
  content: "\e814";
}

.lnr-star-half:before {
  content: "\e815";
}

.lnr-star-empty:before {
  content: "\e816";
}

.lnr-flag:before {
  content: "\e817";
}

.lnr-envelope:before {
  content: "\e818";
}

.lnr-paperclip:before {
  content: "\e819";
}

.lnr-inbox:before {
  content: "\e81a";
}

.lnr-eye:before {
  content: "\e81b";
}

.lnr-printer:before {
  content: "\e81c";
}

.lnr-file-empty:before {
  content: "\e81d";
}

.lnr-file-add:before {
  content: "\e81e";
}

.lnr-enter:before {
  content: "\e81f";
}

.lnr-exit:before {
  content: "\e820";
}

.lnr-graduation-hat:before {
  content: "\e821";
}

.lnr-license:before {
  content: "\e822";
}

.lnr-music-note:before {
  content: "\e823";
}

.lnr-film-play:before {
  content: "\e824";
}

.lnr-camera-video:before {
  content: "\e825";
}

.lnr-camera:before {
  content: "\e826";
}

.lnr-picture:before {
  content: "\e827";
}

.lnr-book:before {
  content: "\e828";
}

.lnr-bookmark:before {
  content: "\e829";
}

.lnr-user:before {
  content: "\e82a";
}

.lnr-users:before {
  content: "\e82b";
}

.lnr-shirt:before {
  content: "\e82c";
}

.lnr-store:before {
  content: "\e82d";
}

.lnr-cart:before {
  content: "\e82e";
}

.lnr-tag:before {
  content: "\e82f";
}

.lnr-phone-handset:before {
  content: "\e830";
}

.lnr-phone:before {
  content: "\e831";
}

.lnr-pushpin:before {
  content: "\e832";
}

.lnr-map-marker:before {
  content: "\e833";
}

.lnr-map:before {
  content: "\e834";
}

.lnr-location:before {
  content: "\e835";
}

.lnr-calendar-full:before {
  content: "\e836";
}

.lnr-keyboard:before {
  content: "\e837";
}

.lnr-spell-check:before {
  content: "\e838";
}

.lnr-screen:before {
  content: "\e839";
}

.lnr-smartphone:before {
  content: "\e83a";
}

.lnr-tablet:before {
  content: "\e83b";
}

.lnr-laptop:before {
  content: "\e83c";
}

.lnr-laptop-phone:before {
  content: "\e83d";
}

.lnr-power-switch:before {
  content: "\e83e";
}

.lnr-bubble:before {
  content: "\e83f";
}

.lnr-heart-pulse:before {
  content: "\e840";
}

.lnr-construction:before {
  content: "\e841";
}

.lnr-pie-chart:before {
  content: "\e842";
}

.lnr-chart-bars:before {
  content: "\e843";
}

.lnr-gift:before {
  content: "\e844";
}

.lnr-diamond:before {
  content: "\e845";
}

.lnr-linearicons:before {
  content: "\e846";
}

.lnr-dinner:before {
  content: "\e847";
}

.lnr-coffee-cup:before {
  content: "\e848";
}

.lnr-leaf:before {
  content: "\e849";
}

.lnr-paw:before {
  content: "\e84a";
}

.lnr-rocket:before {
  content: "\e84b";
}

.lnr-briefcase:before {
  content: "\e84c";
}

.lnr-bus:before {
  content: "\e84d";
}

.lnr-car:before {
  content: "\e84e";
}

.lnr-train:before {
  content: "\e84f";
}

.lnr-bicycle:before {
  content: "\e850";
}

.lnr-wheelchair:before {
  content: "\e851";
}

.lnr-select:before {
  content: "\e852";
}

.lnr-earth:before {
  content: "\e853";
}

.lnr-smile:before {
  content: "\e854";
}

.lnr-sad:before {
  content: "\e855";
}

.lnr-neutral:before {
  content: "\e856";
}

.lnr-mustache:before {
  content: "\e857";
}

.lnr-alarm:before {
  content: "\e858";
}

.lnr-bullhorn:before {
  content: "\e859";
}

.lnr-volume-high:before {
  content: "\e85a";
}

.lnr-volume-medium:before {
  content: "\e85b";
}

.lnr-volume-low:before {
  content: "\e85c";
}

.lnr-volume:before {
  content: "\e85d";
}

.lnr-mic:before {
  content: "\e85e";
}

.lnr-hourglass:before {
  content: "\e85f";
}

.lnr-undo:before {
  content: "\e860";
}

.lnr-redo:before {
  content: "\e861";
}

.lnr-sync:before {
  content: "\e862";
}

.lnr-history:before {
  content: "\e863";
}

.lnr-clock:before {
  content: "\e864";
}

.lnr-download:before {
  content: "\e865";
}

.lnr-upload:before {
  content: "\e866";
}

.lnr-enter-down:before {
  content: "\e867";
}

.lnr-exit-up:before {
  content: "\e868";
}

.lnr-bug:before {
  content: "\e869";
}

.lnr-code:before {
  content: "\e86a";
}

.lnr-link:before {
  content: "\e86b";
}

.lnr-unlink:before {
  content: "\e86c";
}

.lnr-thumbs-up:before {
  content: "\e86d";
}

.lnr-thumbs-down:before {
  content: "\e86e";
}

.lnr-magnifier:before {
  content: "\e86f";
}

.lnr-cross:before {
  content: "\e870";
}

.lnr-menu:before {
  content: "\e871";
}

.lnr-list:before {
  content: "\e872";
}

.lnr-chevron-up:before {
  content: "\e873";
}

.lnr-chevron-down:before {
  content: "\e874";
}

.lnr-chevron-left:before {
  content: "\e875";
}

.lnr-chevron-right:before {
  content: "\e876";
}

.lnr-arrow-up:before {
  content: "\e877";
}

.lnr-arrow-down:before {
  content: "\e878";
}

.lnr-arrow-left:before {
  content: "\e879";
}

.lnr-arrow-right:before {
  content: "\e87a";
}

.lnr-move:before {
  content: "\e87b";
}

.lnr-warning:before {
  content: "\e87c";
}

.lnr-question-circle:before {
  content: "\e87d";
}

.lnr-menu-circle:before {
  content: "\e87e";
}

.lnr-checkmark-circle:before {
  content: "\e87f";
}

.lnr-cross-circle:before {
  content: "\e880";
}

.lnr-plus-circle:before {
  content: "\e881";
}

.lnr-circle-minus:before {
  content: "\e882";
}

.lnr-arrow-up-circle:before {
  content: "\e883";
}

.lnr-arrow-down-circle:before {
  content: "\e884";
}

.lnr-arrow-left-circle:before {
  content: "\e885";
}

.lnr-arrow-right-circle:before {
  content: "\e886";
}

.lnr-chevron-up-circle:before {
  content: "\e887";
}

.lnr-chevron-down-circle:before {
  content: "\e888";
}

.lnr-chevron-left-circle:before {
  content: "\e889";
}

.lnr-chevron-right-circle:before {
  content: "\e88a";
}

.lnr-crop:before {
  content: "\e88b";
}

.lnr-frame-expand:before {
  content: "\e88c";
}

.lnr-frame-contract:before {
  content: "\e88d";
}

.lnr-layers:before {
  content: "\e88e";
}

.lnr-funnel:before {
  content: "\e88f";
}

.lnr-text-format:before {
  content: "\e890";
}

.lnr-text-format-remove:before {
  content: "\e891";
}

.lnr-text-size:before {
  content: "\e892";
}

.lnr-bold:before {
  content: "\e893";
}

.lnr-italic:before {
  content: "\e894";
}

.lnr-underline:before {
  content: "\e895";
}

.lnr-strikethrough:before {
  content: "\e896";
}

.lnr-highlight:before {
  content: "\e897";
}

.lnr-text-align-left:before {
  content: "\e898";
}

.lnr-text-align-center:before {
  content: "\e899";
}

.lnr-text-align-right:before {
  content: "\e89a";
}

.lnr-text-align-justify:before {
  content: "\e89b";
}

.lnr-line-spacing:before {
  content: "\e89c";
}

.lnr-indent-increase:before {
  content: "\e89d";
}

.lnr-indent-decrease:before {
  content: "\e89e";
}

.lnr-pilcrow:before {
  content: "\e89f";
}

.lnr-direction-ltr:before {
  content: "\e8a0";
}

.lnr-direction-rtl:before {
  content: "\e8a1";
}

.lnr-page-break:before {
  content: "\e8a2";
}

.lnr-sort-alpha-asc:before {
  content: "\e8a3";
}

.lnr-sort-amount-asc:before {
  content: "\e8a4";
}

.lnr-hand:before {
  content: "\e8a5";
}

.lnr-pointer-up:before {
  content: "\e8a6";
}

.lnr-pointer-right:before {
  content: "\e8a7";
}

.lnr-pointer-down:before {
  content: "\e8a8";
}

.lnr-pointer-left:before {
  content: "\e8a9";
}
