@using NaNoEweb.DBConnection
@using NaNoEweb.Data
@{
    Layout = null;

    var id = Context.Request.Query["id"];
    var items = DB.I.Get<MNovelChapterNote>($"WHERE [novelchapter_id]={id}");
}
<div class="row">
    <div class="col-12 add-chapter-note">+</div>
</div>
<div class="row">
    <div class="col-12">
        <strong>Notes:</strong>
    </div>
</div>
<div class="row">
    <div class="col-12 chapter-items-list">
        <ul>
            @{
                foreach (var item in items)
                {
                    <li class="chapter-note" note-id="@Html.Raw(item.ID)">@Html.Raw(item.Note) <span class="lnr lnr-trash"></span></li>
                }
            }
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-12 new-chapter-note" style="display:none;">
        <form id="frmAddAnotherChapterNote" method="post" enctype="multipart/form-data" asp-controller="Write" asp-action="Act_AddAnotherChapterNote">
            Note:<br />
            <input type="text" id="another-chapter-note" name="another-chapter-note" class="no-enter" /><br />
            <br />
            <input type="button" value="Add" onclick="AjaxFormAnotherChapterNoteSubmit()" /><br />
        </form>
    </div>
</div>
<script>
    function AjaxFormAnotherChapterNoteSubmit() {
        //debugger;
        $('#frmAddAnotherChapterNote').find('input[type="button"]').first().prop('disabled', true).addClass('disabled');
        var url = $('#frmAddAnotherChapterNote').attr('action');
        var chId = @Html.Raw(id);
        //alert('Add note to ' + chId);
        var formData = new FormData();
        formData.append('id', chId);
        formData.append('note', $('#another-chapter-note').val());

        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            processData: false,
            contentType: false
        }).done(function (response) {
            //debugger;
            if (response.status === "success") {
                var id = response.id;
                var note = $('#another-chapter-note').val();

                $('#another-chapter-note').val('');
                $('.chapter-items-list ul').append('<li class="chapter-note" note-id="' + id + '">' + note + ' <span class="lnr lnr-trash"></span></li>')
            }
            else if (response.status === "failed") {
                alert('Failed to add another note to this chapter.');
                $('.new-chapter-note').attr('style', '');
            }
        });

        $('.new-chapter-note').attr('style', 'display:none;');
        $('#frmAddAnotherChapterNote').find('input[type="button"]').first().prop('disabled', false).removeClass('disabled');
    }
</script>